<div class="section section-blog">
    <div class="container">
        <div class="title h1">
            Client Status
        </div>
        <div class="row">
            <!-- <div *ngFor="let client of mock.clientArray"> -->
                <div class="col-md-4" *ngFor="let client of mock.clientArray">
                        <div class="card card-blog">
                            <div class="card-body">
                                <h6 class="card-category text-success">{{client.status}}</h6>
                                <h5 class="card-title">
                                    <a href="javascript:void(0)">{{client.id}}</a>
                                </h5>
                                <div class="card-description">
                                    "cool info"
                                    <ul>
                                        <li> ip-address: {{client.ip}}</li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="javascript:void(0)">
                                            <img src="{{client.photo}}" alt="..."
                                                class="avatar img-raised">
                                            <span>{{client.user}}</span>
                                        </a>
                                    </div>
                                    <div class="stats">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{client.user}}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    <!-- </div>     -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-body">
                        <h6 class="card-category text-success">online</h6>
                        <h5 class="card-title">
                            <a href="javascript:void(0)">Client A</a>
                        </h5>
                        <p class="card-description">
                            "cool info"
                        </p>
                        <hr>
                        <div class="card-footer">
                            <div class="author">
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="..."
                                        class="avatar img-raised">
                                    <span>Mike John</span>
                                </a>
                            </div>
                            <div class="stats">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 3 seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-body">
                        <h6 class="card-category text-success">online</h6>
                        <h5 class="card-title">
                            <a href="javascript:void(0)">Client B</a>
                        </h5>
                        <p class="card-description">
                            "cool info"
                        </p>
                        <hr>
                        <div class="card-footer">
                            <div class="author">
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/faces/kaci-baum-2.jpg" alt="..." class="avatar img-raised">
                                    <span>Nickie Kelly</span>
                                </a>
                            </div>
                            <div class="stats">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 10 seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-body">
                        <h6 class="card-category text-success">online</h6>
                        <h5 class="card-title">
                            <a href="javascript:void(0)">Client C</a>
                        </h5>
                        <p class="card-description">
                            "cool info"
                        </p>
                        <hr>
                        <div class="card-footer">
                            <div class="author">
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."
                                        class="avatar img-raised">
                                    <span>Mike John</span>
                                </a>
                            </div>
                            <div class="stats">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 53 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- section -->
<div class="section section-blog">
    <div class="container">
        <div class="title h1">
            Select Data
        </div>
    </div>
</div>
<div class="section section-blog">
    <div class="container">
        <div class="title h1">
            Select Analysis
        </div>
    </div>
</div>
<div class="section">
    <div class="container tim-container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h4 class="title text-center">
                    Data client A
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                <th>{{ tableData1.headerRow[1] }}</th>
                                <th>{{ tableData1.headerRow[2] }}</th>
                                <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td class="text-center">{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                                <td class="text-right">&euro; {{row[4]}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" ngbTooltip="View Profile"
                                        class="btn btn-info btn-link btn-sm">
                                        <i class="fa fa-user"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Edit Profile"
                                        class="btn btn-success btn-link btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Remove" class="btn btn-danger btn-link btn-sm">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-gray">
    <div class="container tim-container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h4 class="title text-center">
                    Data client B
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                <th>{{ tableData1.headerRow[1] }}</th>
                                <th>{{ tableData1.headerRow[2] }}</th>
                                <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td class="text-center">{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                                <td class="text-right">&euro; {{row[4]}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" ngbTooltip="View Profile"
                                        class="btn btn-info btn-link btn-sm">
                                        <i class="fa fa-user"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Edit Profile"
                                        class="btn btn-success btn-link btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Remove" class="btn btn-danger btn-link btn-sm">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container tim-container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h4 class="title text-center">
                    Data client C
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                <th>{{ tableData1.headerRow[1] }}</th>
                                <th>{{ tableData1.headerRow[2] }}</th>
                                <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td class="text-center">{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                                <td class="text-right">&euro; {{row[4]}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" ngbTooltip="View Profile"
                                        class="btn btn-info btn-link btn-sm">
                                        <i class="fa fa-user"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Edit Profile"
                                        class="btn btn-success btn-link btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" ngbTooltip="Remove" class="btn btn-danger btn-link btn-sm">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>