<div class="section section-gray">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-blog">
                            <div class="card-body">
                                <h5 class="card-title"> Select Dataset </h5>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inputRad" id="inputRad1"
                                            value="age" (change)="onInputChange($event)" [(ngModel)]="selectedInput"
                                            checked>
                                        Age
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inputRad" id="inputRad2"
                                            value="gender" (change)="onInputChange($event)" [(ngModel)]="selectedInput">
                                        Gender
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inputRad" id="inputRad3"
                                            value="treatment" (change)="onInputChange($event)"
                                            [(ngModel)]="selectedInput">
                                        Treatment
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <br>
                                <hr>
                                <h5 class="card-title"> Select Input </h5>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inputRad" id="inputRad1"
                                            value="age" (change)="onInputChange($event)" [(ngModel)]="selectedInput"
                                            checked>
                                        Age
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inputRad" id="inputRad2"
                                            value="gender" (change)="onInputChange($event)" [(ngModel)]="selectedInput">
                                        Gender
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inputRad" id="inputRad3"
                                            value="treatment" (change)="onInputChange($event)"
                                            [(ngModel)]="selectedInput">
                                        Treatment
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <br>
                                <hr>
                                <h5 class="card-title"> Select computation </h5>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="calcRad" id="calcRad1"
                                            value="mean" (change)="onInputChange($event)" [(ngModel)]="selectedAnalysis"
                                            checked>
                                        Mean
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="calcRad" id="calcRad2"
                                            value="distribution" (change)="onInputChange($event)"
                                            [(ngModel)]="selectedAnalysis">
                                        Distribution
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="calcRad" id="calcRad3"
                                            value="linear-regression" (change)="onInputChange($event)"
                                            [(ngModel)]="selectedAnalysis">
                                        Linear regression
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="text-center">
                                        <button (click)="run()" class="btn btn-move-left btn-round mr-1"><i class="nc-icon nc-app"></i>
                                            Run</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-blog">
                            <div class="card-body">
                                <h6 class="card-category text-success text-right">Online</h6>
                                <h5 class="card-title"> Server </h5>
                                <div class="card-description text-center" style="min-height: 9rem;">
                                </div>
                                <hr>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/Logo_zondertekst.png" alt="..."
                                                class="avatar img-raised">
                                            <span>Admin</span>
                                        </a>
                                    </div>
                                    <div class="stats" style="font-size: 14px;">
                                        {{serverStatus}}
                                        <div *ngIf="serverStatus !== IDLE" class='uil-reload-css reload-small'>
                                            <div></div>
                                        </div>
                                        <i *ngIf="serverStatus === IDLE" class="fa fa-clock-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngFor="let client of mock.clientArray">
                        <div class="card card-blog">
                            <div class="card-body">
                                <h6 class="card-category text-success text-right">{{client.status}}</h6>
                                <h5 class="card-title">
                                    <a href="javascript:void(0)">Client - {{client.id}}</a>
                                </h5>
                                <div class="card-description" style="min-height: 9rem;">
                                    Client Info
                                    <div class="col-4"></div>
                                    <ul>
                                        <li> ip-address: {{client.ip}}</li>
                                        <li> mapped data:
                                            <ul>
                                                <li *ngFor="let variable of client.mappedVariables">{{variable}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="card-footer">
                                    <div class="author">
                                        <img src="{{client.photo}}" alt="..." class="avatar img-raised">
                                        <span>{{client.user}}</span>
                                    </div>
                                    <div class="stats" style="font-size: 14px;">
                                        {{client.state}}
                                        <div *ngIf="client.state !== IDLE" class='uil-reload-css reload-small'>
                                            <div></div>
                                        </div>
                                        <i *ngIf="client.state === IDLE" class="fa fa-clock-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>