<div class="wrapper">
    <div class="page-header" style="background-image: url('../../assets/img/login.jpg');"> 
        <div class="filter"></div>
        <div class="container">
            <div class="row align-items-center" style="min-height: 100vh;">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register" style="background: #00aeef">
                        <h3 class="card-title text-bold" style="color: #ffffff">Welcome</h3>
                        <form class="register-form">
                            <label>Username</label>
                            <input type="username" class="form-control no-border" placeholder="Username">

                            <label>Password</label>
                            <input type="password" class="form-control no-border" placeholder="Password">
                            <a routerLink="/demo" class="btn btn-neutral btn-block btn-round">Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>