<div class="section page-header">
    <!-- <div class="filter"></div> -->
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto text-center">
                    <img class="img-fluid" style="margin-right: 20px; margin-top: 100px" width="400em" height="125em"
                        src="../../assets/img/researcher.png" alt="">
                    <h1 class="title font-weight-bold" style="color:#66615B !important;">Welcome to the Diolkos demo!
                    </h1>
                    <hr />
                    <h5 class="title font-weight-bold" style="color:#66615B !important; ">A Personal Health Train
                        implementation focussed on institutions
                    </h5>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="section section-dark text-center landing-section" style="min-height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Let's talk product</h2>
                    <h5>"Some cool text about the demo"</h5>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="nc-icon nc-lock-circle-open"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Privacy by design</h4>
                            <p class="description">"cool explanation"</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Fast insights</h4>
                            <p>"cool explanation"</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Scalable</h4>
                            <p>"cool explanation"</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Some other reason</h4>
                            <p>"cool explanation"</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>